[submodule "external/ImGuiFileDialog"]
	path = external/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "external/kappa-core"]
	path = external/kappa-core
	url = https://github.com/Konstantysz/kappa-core.git
